body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
    background-image: url("https://thumbs.dreamstime.com/z/education-background-colorful-icons-vector-41914235.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
               max-width: 800px;
               margin: 0 auto;
               color: #000000;
               font-family: sans-serif;
               padding-left: 20px;
               padding-right: 20px;
 }

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 240px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}