body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
    background-image: url("http://image.shutterstock.com/z/stock-photo-tree-of-knowledge-and-education-concept-on-green-chalkboard-background-with-freehand-sketch-doodle-315314987.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
               max-width: 800px;
               margin: 0 auto;
               color: #000000;
               font-family: sans-serif;
               padding-left: 20px;
               padding-right: 20px;
 }