body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 60px;
    background-image: url("https://swsi.tafensw.edu.au/SWSiTAFE/media/Images/Background%20page/img_dummy_background2.jpg?width=1917&height=1269&ext=.jpg ");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container {
               max-width: 800px;
               margin: 0 auto;
               color: #000000;
               font-family: sans-serif;
               padding-left: 20px;
               padding-right: 20px;
 }